* {
  margin: 0;
  padding: 0;
}


.container {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-gap: 4px;
  grid-template-rows: 10vh 10vh 80vh;
  grid-template-areas: 
    "my-header my-header"
    "my-sidebar my-nav"
    "my-sidebar my-article"

}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  grid-area: my-header;
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  grid-area: my-sidebar;
  background-color: #FF7755;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-area: my-nav;
  background-color: #FF7755;
  
}
.nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  grid-area: my-article;
  background-color: #bccbde;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: my-footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}